{
    "background_color": {"r": 0, "g": 0, "b": 0, "a": 0},
    "font":{"asset_name": "silkscreen.ttf"},
    "key": "5555555-5555-5555-5555-555555",
    "offset": 0,
    "remove": "",
    "requests_max": 2000,
    "rotate": 0,
    "showtype": false,
    "stop": "3016471"
}
